<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/AnswerAutomationTest"><classes><class name="herokuappTests.TC001_LoginTests"><methods><include name="T1testUnsuccessfulLoginpword"/><include name="T2testUnsuccessfulLoginuname"/><include name="T3testUnsuccessfulLogin"/><include name="T4testUnsuccessfulLoginexception"/><include name="T5testSuccessfulLogin"/></methods></class><class name="herokuappTests.TC002_InfiniteScrollTests"><methods><include name="T7ScrollDownInfiniteThenBackToTop"/><include name="T8ScrollDownInfiniteThenUpOne"/></methods></class><class name="herokuappTests.TC003_KeysTests"><methods><include name="T8test1KeyPress"/><include name="T9test2KeyPress"/><include name="T10test3KeyPress"/><include name="T11test4KeyPress"/></methods></class><class name="herokuappTests.TC003_LogoutTests"><methods><include name="T6testLogout"/></methods></class></classes></test></suite>